n8n/InsightsLM - Extract Text.json
{
  "name": "InsightsLM - Extract Text",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "filePath"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        96
      ],
      "id": "ec3dafbc-fbe7-41ad-b367-c8ef328b9dfc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qreqmcprolrpqkrdpwrl.supabase.co/storage/v1/object/sign/sources/{{ $json.filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"expiresIn\": 60\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        96
      ],
      "id": "1f075fe5-7dd6-470e-81ef-6e9581d8fa33",
      "name": "Generate Signed URL",
      "credentials": {
        "supabaseApi": {
          "id": "Z72m4xkuIEBqxMlM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://qreqmcprolrpqkrdpwrl.supabase.co/storage/v1/{{ $json.signedURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        96
      ],
      "id": "7ba08376-3226-492a-9fbe-f86d62633139",
      "name": "Download File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc0dbe8c-70d5-4127-95f8-0fbd3f1a6bad",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "audio-mp3",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "mp3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "audio-wav",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "wav",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "audio-m4a",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "m4a",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "audio-ogg",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "ogg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "audio-mp4",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87532eb7-b821-4d84-9d8e-c17136b0a88a",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "excel-xlsx",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "excel-xls",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "xls",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d4e5f6-3333-4444-5555-666677778888",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        352,
        96
      ],
      "id": "03f1dd0d-22cc-424f-ac75-843219101ac8",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        -96
      ],
      "id": "0737b46e-fcbb-456d-9e36-88a14adcffbf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// For plain text (.txt/.md) files: decode binary data downloaded by HTTP Request node\n// When responseFormat='file', n8n stores the file in $binary.data as a base64 string\nconst binaryData = $binary?.data;\nif (!binaryData) {\n  return [{ json: { text: '' } }];\n}\n// n8n binary data property: { data (base64 string), mimeType, fileName, fileSize }\nconst text = Buffer.from(binaryData.data, 'base64').toString('utf-8');\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ],
      "id": "b8a97ab4-be7f-4eac-9e6b-71414e341d21",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9fea51c0-b3a9-49b5-8608-3264c9d00304",
              "name": "extracted_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        96
      ],
      "id": "bc93bc73-4705-42b6-a510-3bc631b0c465",
      "name": "Extracted Text"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM\nhttps://github.com/theaiautomators/insights-lm-public",
        "height": 220,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -288
      ],
      "id": "704849da-00e3-4206-80f1-c45f8a747d07",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        576,
        96
      ],
      "id": "b5da192b-16b2-4e36-a104-b537f87c55ad",
      "name": "Transcribe a recording1",
      "credentials": {
        "openAiApi": {
          "id": "syHUxLmNIXSrPaSC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        688
      ],
      "id": "56302497-7d21-47b8-b9a6-65c8a24e5970",
      "name": "Extract from Excel"
    },
    {
      "parameters": {
        "jsCode": "// Convert Excel JSON rows → readable text for RAG\n// extractFromFile xlsx outputs: [{col1: val1, col2: val2, ...}, ...]\nconst items = $input.all();\nconst lines = items.map(item => {\n  return Object.entries(item.json)\n    .filter(([k]) => k !== 'row_number')\n    .map(([k, v]) => `${k}: ${v}`)\n    .join(' | ');\n}).filter(line => line.trim().length > 0);\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        688
      ],
      "id": "8e521a1f-2749-4fc2-a352-012c4245e258",
      "name": "Convert Excel to Text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        880
      ],
      "id": "bb6ad623-a820-4291-b0b9-2c781013256b",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "jsCode": "// Convert CSV JSON rows → readable text for RAG\n// extractFromFile csv outputs: [{col1: val1, col2: val2, ...}, ...]\nconst items = $input.all();\nconst lines = items.map(item => {\n  return Object.entries(item.json)\n    .map(([k, v]) => `${k}: ${v}`)\n    .join(' | ');\n}).filter(line => line.trim().length > 0);\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        880
      ],
      "id": "300bd4b8-d3fe-4e8f-b67b-cbe441d950a1",
      "name": "Convert CSV to Text"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Signed URL": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Convert Excel to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Excel to Text": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Convert CSV to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert CSV to Text": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9df1a49d-e087-484f-9be5-0cd97ed09513",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa65990611bf8c8eff44388d5865e91c835317eab848ea9b81a93b6e1a15d69"
  },
  "id": "VBnXoWEIm6JWzjtk",
  "tags": []
}