n8n/InsightsLM - Extract Text (1).json
{
  "name": "InsightsLM - Extract Text",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "filePath"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1632,
        2048
      ],
      "id": "cf0b1aa8-82ad-472c-862c-de6ec0345016",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qreqmcprolrpqkrdpwrl.supabase.co/storage/v1/object/sign/sources/{{ $json.filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"expiresIn\": 60\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        2048
      ],
      "id": "e307a666-728e-4093-8fd7-bee2b21258c2",
      "name": "Generate Signed URL",
      "credentials": {
        "supabaseApi": {
          "id": "Z72m4xkuIEBqxMlM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://qreqmcprolrpqkrdpwrl.supabase.co/storage/v1/{{ $json.signedURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        2048
      ],
      "id": "0672e60b-78dd-4b48-b09c-91ba555b89c7",
      "name": "Download File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc0dbe8c-70d5-4127-95f8-0fbd3f1a6bad",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "audio-mp3",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "mp3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "audio-wav",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "wav",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "audio-m4a",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "m4a",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "audio-ogg",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "ogg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "audio-mp4",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87532eb7-b821-4d84-9d8e-c17136b0a88a",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "excel-xlsx",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  },
                  {
                    "id": "excel-xls",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "xls",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d4e5f6-3333-4444-5555-666677778888",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.filePath.split('.').pop().toLowerCase() }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2304,
        2048
      ],
      "id": "901ceeab-2424-4fd7-b4aa-ef95f4558d23",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2512,
        1856
      ],
      "id": "75c01b24-38cf-4083-bc83-e3d79d16d40c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// For plain text (.txt/.md) files: decode binary data downloaded by HTTP Request node\n// When responseFormat='file', n8n stores the file in $binary.data as a base64 string\nconst binaryData = $binary?.data;\nif (!binaryData) {\n  return [{ json: { text: '' } }];\n}\n// n8n binary data property: { data (base64 string), mimeType, fileName, fileSize }\nconst text = Buffer.from(binaryData.data, 'base64').toString('utf-8');\nreturn [{ json: { text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        2256
      ],
      "id": "fa124e69-363e-41a5-b18d-f643252405f8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9fea51c0-b3a9-49b5-8608-3264c9d00304",
              "name": "extracted_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2736,
        2048
      ],
      "id": "237d861b-8183-4550-9d8c-147b617a62c7",
      "name": "Extracted Text"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM\nhttps://github.com/theaiautomators/insights-lm-public",
        "height": 220,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1632,
        1664
      ],
      "id": "381e201d-b6fb-49ca-be4b-ac48126e3601",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2528,
        2048
      ],
      "id": "3f4bb816-f4bd-4178-910b-4838867f8a6d",
      "name": "Transcribe a recording1",
      "credentials": {
        "openAiApi": {
          "id": "syHUxLmNIXSrPaSC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2512,
        2640
      ],
      "id": "b2c3d4e5-bbbb-cccc-dddd-eeeeffff0000",
      "name": "Extract from Excel"
    },
    {
      "parameters": {
        "jsCode": "// Convert Excel JSON rows → readable text for RAG\n// extractFromFile xlsx outputs: [{col1: val1, col2: val2, ...}, ...]\nconst items = $input.all();\nconst lines = items.map(item => {\n  return Object.entries(item.json)\n    .filter(([k]) => k !== 'row_number')\n    .map(([k, v]) => `${k}: ${v}`)\n    .join(' | ');\n}).filter(line => line.trim().length > 0);\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        2640
      ],
      "id": "excel-convert-9999-aaaa-bbbb-ccccdddd0001",
      "name": "Convert Excel to Text"
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2512,
        2832
      ],
      "id": "c3d4e5f6-cccc-dddd-eeee-ffff00001111",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "jsCode": "// Convert CSV JSON rows → readable text for RAG\n// extractFromFile csv outputs: [{col1: val1, col2: val2, ...}, ...]\nconst items = $input.all();\nconst lines = items.map(item => {\n  return Object.entries(item.json)\n    .map(([k, v]) => `${k}: ${v}`)\n    .join(' | ');\n}).filter(line => line.trim().length > 0);\n\nreturn [{ json: { text: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        2832
      ],
      "id": "csv-convert-9999-aaaa-bbbb-ccccdddd0002",
      "name": "Convert CSV to Text"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Signed URL": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Convert Excel to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Excel to Text": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Convert CSV to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert CSV to Text": {
      "main": [
        [
          {
            "node": "Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8a890e77-ae5a-4d37-adfb-fb8b57805370",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa65990611bf8c8eff44388d5865e91c835317eab848ea9b81a93b6e1a15d69"
  },
  "id": "VBnXoWEIm6JWzjtk",
  "tags": []
}