n8n/InsightsLM - Generate Notebook Details.json
{
  "name": "InsightsLM - Generate Notebook Details",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3024,
        2976
      ],
      "id": "28b61a20-b8ed-404c-bf08-7564897e13c9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "syHUxLmNIXSrPaSC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text; // raw text output from chain node\n\nlet parsed;\ntry {\n  // Try direct parse first\n  parsed = JSON.parse(text);\n} catch (e) {\n  // If direct parse fails, try to find JSON in text\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('Could not find valid JSON in model output: ' + text.substring(0, 200));\n  }\n}\n\n// If model wrapped in \"output\", unwrap it\nif (parsed.output && !parsed.title) {\n  parsed = parsed.output;\n}\n\n// Validate required fields\nif (!parsed.title) {\n  throw new Error('Missing required field: title');\n}\n\n// Return with output wrapper for downstream compatibility\nreturn [{ json: { output: parsed } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        2656
      ],
      "id": "965fa2eb-6ef1-437d-a7f1-a9b8a198053e",
      "name": "Parse JSON Output"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0c488f50-8d6a-48a0-b056-5f7cfca9efe2",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1936,
        2656
      ],
      "id": "ade953a8-d541-44ff-b4ae-df6c8cf71e30",
      "name": "Webhook",
      "webhookId": "0c488f50-8d6a-48a0-b056-5f7cfca9efe2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "niNSBpzAl6ge5J0I",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        3648,
        2656
      ],
      "id": "209442da-1341-4f01-93fb-990a597aa421",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.extracted_text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Based on the data provided, output an appropriate title and summary of the document.\n\nAlso output an appropriate UTF-8 emoji for the notebook. - example: 🏆\nAnd output an appropriate color from this list:\nslate, gray, zinc, neutral, stone, red, orange, amber, yellow, lime, green, emerald, teal, cyan, sky, blue, indigo, violet, purple, fuchsia, pink, rose\n\nAlso output a list of 5 Example Questions that could be asked of this document. For example \"How are the rules and regulations of tennis enforced?\" - Maximum 10 words each\n\nYou MUST respond ONLY with a valid JSON object in this exact format, no other text:\n{\n  \"title\": \"<document title>\",\n  \"summary\": \"<document summary>\",\n  \"notebook_icon\": \"<emoji>\",\n  \"background_color\": \"<color from list>\",\n  \"example_questions\": [\"q1\", \"q2\", \"q3\", \"q4\", \"q5\"]\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        3040,
        2656
      ],
      "id": "0aea643b-8813-4141-8ded-eac59caa23f4",
      "name": "Generate Title & Description"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VBnXoWEIm6JWzjtk",
          "mode": "list",
          "cachedResultUrl": "/workflow/VBnXoWEIm6JWzjtk",
          "cachedResultName": "InsightsLM - Extract Text"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $json.body.filePath }}"
          },
          "matchingColumns": [
            "filePath"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2816,
        2864
      ],
      "id": "8e2fb434-1856-4106-a1db-f5108ce67c1c",
      "name": "Extract Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a25d08b6-2c99-4e08-af5f-62b13e6c4fdb",
              "leftValue": "={{ $json.body.sourceType }}",
              "rightValue": "=text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3b5d5dce-76c4-445a-bab7-53c2114d52be",
              "leftValue": "={{ $json.body.sourceType }}",
              "rightValue": "website",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        2656
      ],
      "id": "0ad582b2-5d04-4f9d-8abe-df22be55fba5",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea61516d-9144-4b4b-904e-cf280d5bd08d",
              "leftValue": "={{ $json.body.sourceType }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2384,
        2560
      ],
      "id": "50e95321-f28a-4019-b123-5839aec68238",
      "name": "If4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5924d7e-6185-49a5-b61c-d244a40bd9b2",
              "name": "=extracted_text",
              "value": "={{ $json.body.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        2464
      ],
      "id": "bbb3f538-b242-46cd-8c0a-6937a1f29f64",
      "name": "Set Text"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.body.filePath }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        2656
      ],
      "id": "476b9b18-2a0f-4794-9359-d6a645a0542d",
      "name": "Fetch Webpage with Jina.ai"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5924d7e-6185-49a5-b61c-d244a40bd9b2",
              "name": "=extracted_text",
              "value": "={{ $json.data.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        2656
      ],
      "id": "431f9f30-c694-4382-89e8-1616eceb68d8",
      "name": "Set Text4"
    },
    {
      "parameters": {
        "content": "## Solution A Applied\n- Removed Structured Output Parser\n- Added Code node to parse JSON output\n- hasOutputParser set to false",
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3168,
        2416
      ],
      "id": "0c911a7d-3c91-4d7b-a145-01e19ef0cf48",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM\nhttps://github.com/theaiautomators/insights-lm-public",
        "height": 220,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        2272
      ],
      "id": "22255896-a601-4983-b99d-2e4af16e654b",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Title & Description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Title & Description": {
      "main": [
        [
          {
            "node": "Parse JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Generate Title & Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Webpage with Jina.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Generate Title & Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Webpage with Jina.ai": {
      "main": [
        [
          {
            "node": "Set Text4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text4": {
      "main": [
        [
          {
            "node": "Generate Title & Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e3032d04-1f23-47e4-8884-a6bd9306d6d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa65990611bf8c8eff44388d5865e91c835317eab848ea9b81a93b6e1a15d69"
  },
  "id": "UdP5vM6HcHUBYO0A",
  "tags": [
    {
      "updatedAt": "2026-03-18T17:37:57.362Z",
      "createdAt": "2026-03-18T17:37:57.362Z",
      "id": "JoQexUOz3iYBucBb",
      "name": "TheAIAutomators.com"
    }
  ]
}