n8n/InsightsLM - Chat.json
{
  "name": "InsightsLM - Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2fabf43f-6e6e-424b-8e93-9150e9ce7d6c",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3872,
        10704
      ],
      "id": "72048897-2c97-40fa-b55f-17099acb001f",
      "name": "Webhook1",
      "webhookId": "2fabf43f-6e6e-424b-8e93-9150e9ce7d6c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "niNSBpzAl6ge5J0I",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are a document retrieval assistant. You MUST use the retrieve_knowledge tool for EVERY question, then answer based ONLY on retrieved chunks.\n\nCRITICAL: Your response MUST be a valid JSON object. No plain text. No markdown. No code blocks.\n\nResponse format (MANDATORY):\n{\"output\":[{\"text\":\"Your answer here\",\"citations\":[{\"chunk_index\":0,\"chunk_source_id\":\"uuid\",\"chunk_lines_from\":25,\"chunk_lines_to\":50}]}]}\n\nRules:\n1. ALWAYS call retrieve_knowledge tool first\n2. Answer ONLY from retrieved chunks - never from general knowledge\n3. Include ALL relevant citations from chunks you used\n4. If no relevant chunks found, respond: {\"output\":[{\"text\":\"Xin lỗi, tôi không tìm thấy thông tin liên quan trong tài liệu.\",\"citations\":[]}]}\n5. NEVER include text outside the JSON structure\n6. NEVER use (Nguồn: ...) format - put citations in the citations array ONLY\n7. Start response with { and end with }\n8. The chunk_source_id is the source_id from the chunk metadata, chunk_lines_from and chunk_lines_to are the loc.lines.from and loc.lines.to from the chunk metadata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        4128,
        10624
      ],
      "id": "49220f3a-7f29-4d30-bb8a-d3cb79c392eb",
      "name": "AI Agent1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4224,
        11024
      ],
      "id": "8ea3b17d-1cf7-42ed-84ef-8bcbfcb65786",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "uBpbv7i077Gtin3r",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "retrieve_knowledge",
        "toolDescription": "Retrieve releveant information",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "notebook_id",
                "value": "={{ $json.body.notebook_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        4480,
        10944
      ],
      "id": "ae4697e5-bfa4-4fa5-81ac-53db61931706",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Z72m4xkuIEBqxMlM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM\nhttps://github.com/theaiautomators/insights-lm-public",
        "height": 220,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3840,
        10304
      ],
      "id": "a806eaed-163d-434f-a3fb-b5c8bd058785",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3856,
        11088
      ],
      "id": "7a19fedd-0f52-400a-b923-e2448ebde6c4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "syHUxLmNIXSrPaSC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4464,
        11152
      ],
      "id": "49f5c5a7-5f2b-4388-bbb8-fa6f826e593a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "syHUxLmNIXSrPaSC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3fe00074-1c34-485c-92e9-580156d70bda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa65990611bf8c8eff44388d5865e91c835317eab848ea9b81a93b6e1a15d69"
  },
  "id": "lCAf2EJ6qvdgVz2t",
  "tags": [
    {
      "updatedAt": "2026-03-18T17:37:57.362Z",
      "createdAt": "2026-03-18T17:37:57.362Z",
      "id": "JoQexUOz3iYBucBb",
      "name": "TheAIAutomators.com"
    }
  ]
}