n8n/InsightsLM - Podcast Generation (2).json
{
  "name": "InsightsLM - Podcast Generation",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Check if FFmpeg is installed\ntry {\n  const { execSync } = require('child_process');\n  const result = execSync('ffmpeg -version 2>&1', { encoding: 'utf8', stdio: ['pipe', 'pipe', 'pipe'] });\n  return [{ json: { stdout: 'FFmpeg is installed', installed: true } }];\n} catch (error) {\n  return [{ json: { stdout: '', installed: false, error: error.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        6080
      ],
      "id": "9721b28e-9fd1-45be-b73a-90e41a66bb92",
      "name": "Check is FFMPEG Installed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05ef5c0e-fe71-4367-a88d-6ba65b8e4e48",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "=FFmpeg is installed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2320,
        6080
      ],
      "id": "8d18a08f-1b79-42a3-a240-2a3fa0f3be8e",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n    \"message\": \"Workflow was started\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2016,
        5968
      ],
      "id": "2d6a44c9-b29d-41e8-b334-4fd56d94b0df",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"FFmpeg not installed\",\n  \"code\": \"FFMPEG_NOT_INSTALLED\",\n  \"details\": \"The server requires ffmpeg to be installed\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2016,
        6144
      ],
      "id": "2fa0b331-26da-4142-909f-5f3964476a43",
      "name": "Respond with 500 Error"
    },
    {
      "parameters": {
        "content": "## Notes\n- Uses OpenAI TTS API (tts-1 model) for audio generation\n- Audio is returned as binary MP3 directly - no disk write needed\n- Configure your OpenAI API credentials\n- Configure the Supabase nodes to reference your Project",
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        5600
      ],
      "id": "0857ccc8-eaee-4980-a7d4-cd272b9330af",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4c4699bc-004b-4ca3-8923-373ddd4a274e",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2800,
        6080
      ],
      "id": "8e9c6ae3-457d-459c-a8b4-3a82a39365ef",
      "name": "Webhook",
      "webhookId": "4c4699bc-004b-4ca3-8923-373ddd4a274e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "niNSBpzAl6ge5J0I",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sources",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "notebook_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.notebook_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1760,
        5968
      ],
      "id": "8315b236-f021-4b27-b405-4a9b8d2c8e58",
      "name": "Get Sources",
      "credentials": {
        "supabaseApi": {
          "id": "Z72m4xkuIEBqxMlM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "title,content",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1536,
        5968
      ],
      "id": "87358527-e9b0-430d-b98a-7bbab4846b8b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3743cbc-c838-401a-8f65-95a386707ded",
              "name": "prompt",
              "value": "=Tôi sẽ cung cấp cho bạn văn bản chứa thông tin NGUỒN (SOURCE(S)), hãy dùng các hướng dẫn dưới đây để viết một kịch bản podcast bằng TIẾNG VIỆT. BẮT BUỘC phải tổng hợp và liên kết thông tin từ TẤT CẢ các nguồn được cung cấp.\n\n# CẤU TRÚC KẾT QUẢ VÀ KỊCH BẢN MẪU\n\nVui lòng đọc to nội dung sau theo phong cách phỏng vấn podcast:\nSpeaker 1: Khi bạn nhìn thấy một chiếc xe Công thức Một lướt qua, đó thực sự là một cảnh tượng khó tin. \nSpeaker 2: Những chiếc xe này đúng là những kỳ quan kỹ thuật, phải không? Chúng được thiết kế thuần túy cho tốc độ, đẩy mọi thứ từ vật liệu, khí động học đến giới hạn tuyệt đối. Từng bộ phận nhỏ đều là một điều kỳ diệu của công nghệ. Đúng là như vậy.\nSpeaker 1: Và điều kinh ngạc là những chiếc xe này không tự nhiên sinh ra. Chúng thực sự tồn tại trong một bộ quy tắc cực kỳ chi tiết quy định gần như mọi thứ những gì có thể và không thể làm.\nSpeaker 2: Chính xác. Và trong phần tìm hiểu sâu hôm nay, chúng ta sẽ đi thẳng vào gốc rễ của bộ quy tắc đó. Tài liệu hôm nay là các phần chính từ quy định kỹ thuật Công thức Một năm 2025 được ban hành bởi FIA. Nhiệm vụ của chúng ta hôm nay cho những bạn đang nghe là thực sự phân tích các quy định, hiểu các nguyên tắc cốt lõi, và những chi tiết tạo nên sự thú vị của xe F1.\n\n# HƯỚNG DẪN CẦN LÀM THEO\n\n1. Mở đầu:\n- Bắt đầu bằng những lời mở đầu thú vị về chủ đề giữa hai diễn giả.\n- Giới thiệu chủ đề như một sự \"tìm hiểu sâu\".\n\n2. Cấu trúc Đối thoại:\n- Hai người tương tác qua lại.\n- Xen kẽ những câu ngắn, súc tích và giải thích dài.\n- Thường dùng từ ngữ khẳng định như \"Đúng vậy,\" \"Chính xác,\" và \"Hoàn toàn đồng ý\".\n\n3. Ngôn ngữ và Giọng điệu:\n- Sử dụng TIẾNG VIỆT hoàn toàn (100% tiếng Việt). Giữ ngôn ngữ thân thiện, dễ hiểu.\n- Giọng điệu hào hứng, tràn đầy năng lượng.\n- Dùng câu hỏi tu từ để chuyển ý.\n\n4. Trình bày Nội dung:\n- Giới thiệu tài liệu nguồn sớm trong cuộc trò chuyện. Hãy đề cập đến việc chúng ta có nhiều nguồn tài liệu khác nhau.\n- Dùng ví dụ ẩn dụ để giải thích khái niệm phức tạp.\n- Phân tích và liên kết các điểm chung hoặc khác biệt từ CÁC nguồn tài liệu khác nhau.\n\n5. Tương tác Giữa Hai Diễn Giả:\n- Một người đưa ra câu hỏi hoặc thắc mắc, người kia giải thích.\n- Dùng những cụm từ như \"Bạn nói chính xác\" để đồng tình với nhau.\n\n6. Kết thúc:\n- Đưa ra một suy nghĩ hoặc bài học đáng nhớ tổng kết toàn bộ các nguồn tài liệu.\n- Tạm biệt thính giả một cách tích cực.\n\n# NGUỒN ĐỂ TẠO KỊCH BẢN (BAO GỒM NHIỀU NGUỒN)\n\n{{ $json.data.map((item, index) => 'NGUỒN ' + (index+1) + '\\nTiêu đề: ' + item.title + '\\nNội dung: ' + item.content).join('\\n\\n-------------------------\\n\\n') }}\n\n# LƯU Ý KHÁC\n\nQUAN TRỌNG: Kết quả CHỈ được xuất kịch bản, và dùng \\n giữa các đoạn đối thoại.\nQUAN TRỌNG: Câu trả lời của bạn BẮT BUỘC phải bắt đầu bằng...\n\"Vui lòng đọc to nội dung sau theo phong cách phỏng vấn podcast:\\nSpeaker 1: \"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        5968
      ],
      "id": "f00f78cd-dc5d-4997-9ea1-d47921a78e9e",
      "name": "Set Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1024,
        5952
      ],
      "id": "f8d6b839-fb9c-466d-9e48-f2e12587b901",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"tts-1\",\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice\": \"alloy\",\n  \"response_format\": \"mp3\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        5952
      ],
      "id": "90aa70d9-33b4-42f9-b4ee-67b149bcc434",
      "name": "Generate Audio",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "openAiApi": {
          "id": "eEWhkJ5Ojk9lNRja",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qreqmcprolrpqkrdpwrl.supabase.co/storage/v1/object/audio/{{ $('Webhook').item.json.body.notebook_id }}/podcast_{{ $execution.id }}.mp3",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "4cdaeab5-ceda-47e9-b5a0-c619d5ad52ff",
      "name": "Upload object",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -208,
        5952
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Z72m4xkuIEBqxMlM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qreqmcprolrpqkrdpwrl.supabase.co/storage/v1/object/sign/{{ $json.body.Key }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"expiresIn\": 86400\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        5952
      ],
      "id": "eeab5088-c095-4bb3-88a4-d3c36e7e8b09",
      "name": "Generate Signed URL",
      "credentials": {
        "supabaseApi": {
          "id": "Z72m4xkuIEBqxMlM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate timestamp for expires\nfor (const item of $input.all()) {\n  const now = new Date();\n  const tomorrow = new Date(now.getTime() + 24 * 60 * 60 * 1000);\n  item.json.timestamp = tomorrow.toISOString();\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        5952
      ],
      "id": "a8ff1f24-5563-499f-a479-4934e1d0d568",
      "name": "Generate Timestamp for Expires"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notebooks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.notebook_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "audio_overview_url",
              "fieldValue": "=https://qreqmcprolrpqkrdpwrl.supabase.co/storage/v1/{{ $json.signedURL }}"
            },
            {
              "fieldId": "audio_url_expires_at",
              "fieldValue": "={{ $json.timestamp }}"
            },
            {
              "fieldId": "audio_overview_generation_status",
              "fieldValue": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        5952
      ],
      "id": "55f58e44-978f-4772-98da-ec9c89e9ef1f",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "Z72m4xkuIEBqxMlM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)\n## InsightsLM\nhttps://github.com/theaiautomators/insights-lm-public",
        "height": 220,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2800,
        5664
      ],
      "id": "b69284f1-6707-416f-956b-6fea88442916",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -928,
        6160
      ],
      "id": "1adb58ec-2819-41c1-b73c-7a3fe28ca489",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "syHUxLmNIXSrPaSC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check is FFMPEG Installed": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with 500 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Get Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check is FFMPEG Installed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sources": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Upload object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload object": {
      "main": [
        [
          {
            "node": "Generate Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Signed URL": {
      "main": [
        [
          {
            "node": "Generate Timestamp for Expires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Timestamp for Expires": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a572cbe1-9dfb-42ed-a03c-200aadfe9883",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8aa65990611bf8c8eff44388d5865e91c835317eab848ea9b81a93b6e1a15d69"
  },
  "id": "Mwd0CgMiobayO0zg",
  "tags": [
    {
      "updatedAt": "2026-03-18T17:37:57.362Z",
      "createdAt": "2026-03-18T17:37:57.362Z",
      "id": "JoQexUOz3iYBucBb",
      "name": "TheAIAutomators.com"
    }
  ]
}